<div id="charterer" class="page-layout simple left-sidebar inner-sidebar inner-scroll">

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->
    <div class="heading center">        
        <div class="header-row">
            <div class="row-col-3">
                <h2>Charter Management</h2>
            </div>
            <div class="row-col-6">
                <div>                    
                </div>
            </div>
            <div class="row-col-3">
                <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <b> Charter Management </b>
            </div>
        </div>
        <div class="mat-elevation-z8">

            <div class="main-tab">                
                <div class="header-row">
                    <div class="row-col-3">
                        <button class="add-role" routerLink="/apps/charterer-management/add-charterer"> Add Charter </button>
                    </div>
                    <div class="row-col-6"></div>
                    
                    <div class="row-col-3">
                        <mat-form-field floatLabel="never" class="custom-search-field">
                            <mat-icon class="search">search</mat-icon> 
                            <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search">
                        </mat-form-field>
                    </div>
                </div>
            </div>

            <div class="content-card">
                <table mat-table [dataSource]="dataSource" matSort>

                    <ng-container matColumnDef="id">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> ID </th>
                        <td mat-cell *matCellDef="let row; let i = index;"> {{i+1}} </td>
                    </ng-container>

                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                        <td mat-cell *matCellDef="let row"> {{row.firstName}} {{row.lastName}}</td>
                    </ng-container>

                    
                    <ng-container matColumnDef="mobileno">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Mobile Number </th>
                        <td mat-cell *matCellDef="let row"> {{row.mobileNo}} </td>
                    </ng-container>

                    <ng-container matColumnDef="email">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
                        <td mat-cell *matCellDef="let row"> {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="company">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Company</th>
                        <td mat-cell *matCellDef="let row"> {{row.companyName}} </td>
                    </ng-container>

                    <ng-container matColumnDef="action">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Action </th>
                        <td mat-cell *matCellDef="let row"> 
                            <button mat-button class="edit_button">
                                <mat-icon aria-hidden="false" aria-label="Example home icon"
                                    (click)="editRole(row.id)" >edit</mat-icon>
                            </button>
                            <button mat-button class="delete_button" (click)="showDeleteModal(row.id)">
                                <mat-icon aria-hidden="false" aria-label="Example home icon">delete</mat-icon>
                            </button>
                        </td>
                    </ng-container>

                    <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
                            <td mat-cell *matCellDef="let row" [style.color]="row.isActive">
                                    <span *ngIf="row.isActive === 'Y'"> Active </span>
                                    <span *ngIf="row.isActive === 'N'"> Inactive </span>
                            </td>
                        </ng-container>
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
                 <div class="no_data_found" *ngIf="dataSource.filteredData.length === 0">
                    No Records Found!
                </div>
                
            </div>
        </div>

    </div>

    <!-- Delete company Modal -->
    <div class="cst-modal" [ngClass]="{'cst-modal--active' : showModaldeleteStatus}">
        <div class="cst-modal__overlay"></div>
        <div class="cst-modal__content">
            <div class="cst-modal__header">
                <h4 class="cst-modal__title" style="margin: 0 auto;">Are you sure you want to delete this record??</h4>
                <button class="cst-modal__close" (click)="showDeleteModal()">&times;</button>
            </div>
            <div class="cst-modal__footer">
                <button class="cst-modal__button" (click)="deletecharter()">Delete</button>
                <button class="cst-modal__close__button" (click)="showDeleteModal()">Cancel</button>
            </div>
        </div>
    </div>
    <!-- Delete company Modal -->
    
</div>
