<div id="add-user" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-3">
                <h2>User Management</h2>
            </div>

            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <a  routerLink="/apps/user-management"> User
                        Management </a> > <b> Add User </b>
                </div>
            </div>
        </div>

        <div class="mat-elevation-z8">

            <div class="main-tab">
                <div class="header-row">
                    <div class="row-col-3">
                        <h2 style="padding-bottom: 0;"> Add User </h2>
                    </div>
                    <div class="row-col-3">
                        <button routerLink="/apps/user-management" class="add-item add-item--back-button"> Back </button>
                    </div>
                </div>

            </div>
            <hr>
            <div class="content-card">

                <form [formGroup]="userManagementForm" (ngSubmit)="onSubmit()">

                    <select placeholder="select role" id="inputState" (change)="changeRole($event)">
                        <option [value]="">Select role</option>
                        <option *ngFor="let role of roleListData"  [ngClass]="{'d-none': role.isActive === 'N'}" [value]="role.id">{{role.roleName}}</option>
                    </select>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>User Name* </mat-label>
                        <input matInput formControlName="username">
                        <mat-error *ngIf="userManagementForm.get('username').hasError('required')">
                            User Name is required
                        </mat-error>
                        <mat-error *ngIf="userManagementForm.get('username').hasError('username')">
                            Please enter a valid User Name
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Mobile Number *</mat-label>
                        <input type="text" (keypress)="numberOnly($event)" onKeyPress="if(this.value.length==12) return false;" min="10" matInput formControlName="mobileNo">
                
                        <mat-error *ngIf="userManagementForm.get('mobileNo').hasError('required')">
                            Mobile number is required
                        </mat-error>
                        <mat-error *ngIf="userManagementForm.get('mobileNo').hasError('mobileNo')">
                            Please enter a valid mobile no
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Password *</mat-label>
                        <input matInput type="password" formControlName="password">
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Repeat Password *</mat-label>
                        <input matInput type="password" formControlName="repassword">
                        <mat-error *ngIf="userManagementForm.get('repassword').hasError('required')">
                            Repeat Password is required
                        </mat-error>
                        <mat-error *ngIf="!userManagementForm.get('repassword').hasError('required') &&
                            userManagementForm.get('repassword').hasError('passwordsNotMatching')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>First Name *</mat-label>
                        <input matInput formControlName="firstName">
                        <mat-error *ngIf="userManagementForm.get('firstName').hasError('required')">
                            FirstName is required
                        </mat-error>
                        <mat-error *ngIf="userManagementForm.get('firstName').hasError('firstName')">
                            Please enter a valid FirstName
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Last Name *</mat-label>
                        <input matInput formControlName="lastName">
                        <mat-error *ngIf="userManagementForm.get('lastName').hasError('required')">
                            LastName is required
                        </mat-error>
                        <mat-error *ngIf="userManagementForm.get('lastName').hasError('lastName')">
                            Please enter a valid LastName
                        </mat-error>
                    </mat-form-field>
                    <select placeholder="select role" id="inputState" (change)="changecompany($event)" formControlName="companyName">
                        <option value="" hidden>Select Company</option>
                        <option *ngFor="let company of companyListData" [value]="company.id">{{company.companyName}}</option>
                    </select> 


                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Email *</mat-label>
                        <input matInput formControlName="email">
                        <mat-error *ngIf="userManagementForm.get('email').hasError('required')">
                            Email is required
                        </mat-error>
                        <mat-error *ngIf="userManagementForm.get('email').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                                <mat-error *ngIf="userManagementForm.get('email').hasError('pattern')">
                                    Enter valid Email Id
                                </mat-error>
                            </div>
                    </mat-form-field>

                    <mat-form-field class="full-width" appearance="outline">
                        <mat-label>Enter Location *</mat-label>
                        <input matInput formControlName="enterlocation">
                        <mat-error *ngIf="userManagementForm.get('enterlocation').hasError('required')">
                            Location is required
                        </mat-error>
                        <mat-error *ngIf="userManagementForm.get('enterlocation').hasError('enterlocation')">
                            Please enter a valid Location
                        </mat-error>
                    </mat-form-field>

                    <button class="cst-modal__button cst-modal__button--submit" type="submit">Submit</button>

                </form>
            </div>
        </div>

    </div>

</div>