<div id="change-password" class="page-layout simple left-sidebar inner-sidebar inner-scroll">
    <div class="top-bg accent"></div>
    <div class="heading center">
        <div class="header-row">
            <div class="row-col-3">
                <h2>Change Password</h2>
            </div>
            <div class="row-col-6">

            </div>
            <div class="row-col-3">
                <div style="float: right;">
                    <mat-icon class="home">home</mat-icon> <a routerLink="/apps/dashboards/analytics"> Home </a> > <b>
                        Change Password </b>
                </div>
            </div>
        </div>
        <div class="content-card">

            <div class="mat-elevation-z8">

                <div class="header-row">
                    <div class="row-col-3"></div>
                    <div class="row-col-6"></div>
                    <div class="row-col-3">
                        <button class="add-role" routerLink="/apps/dashboards/analytics"> Back </button>
                    </div>
                </div>
                <hr>

                <div class="main-tab">

                    <form [formGroup]="changePasswordForm" (ngSubmit)="onSubmit()" style="width: 100%;">

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Old Password</mat-label>
                            <input matInput type="password" formControlName="oldpassword">
                            <mat-error *ngIf="changePasswordForm.get('oldpassword').hasError('required')">
                                Old password is required
                            </mat-error>
                            <mat-error *ngIf="changePasswordForm.get('oldpassword').hasError('oldpassword')">
                                Please enter a valid old password
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Password</mat-label>
                            <input matInput type="password" formControlName="newpassword">
                            <mat-error>
                                Password is required
                            </mat-error>
                        </mat-form-field>

                        <mat-form-field class="full-width" appearance="outline">
                            <mat-label>Repeat Password</mat-label>
                            <input matInput type="password" formControlName="repassword">
                            <mat-error *ngIf="changePasswordForm.get('repassword').hasError('required')">
                                Repeat Password is required
                            </mat-error>
                            <mat-error *ngIf="!changePasswordForm.get('repassword').hasError('required') &&
                                changePasswordForm.get('repassword').hasError('passwordsNotMatching')">
                                Passwords must match
                            </mat-error>
                        </mat-form-field>
                        <button class="cst-modal__button" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>